#!/bin/bash
export CF_API_EMAIL="cloudflare@company.com"
export CF_API_KEY=""
export AWS_BUCKET_NAME="dnsmonitor-bucket"
export AWS_OBJECT_PATH="dnsmonitor.json"
export SLACK_WEBHOOK=""
export SUMO_HTTP_ENDPOINT=""
export AWS_ACCESS_KEY_ID=$(cat ~/.aws/credentials |fgrep aws_access_key_id| head -1|cut -d " " -f 3)
export AWS_SECRET_ACCESS_KEY=$(cat ~/.aws/credentials |fgrep aws_secret_access_key| head -1|cut -d " " -f 3)
export AWS_SESSION_TOKEN=$(cat ~/.aws/credentials |fgrep aws_session_token| head -1|cut -d " " -f 3)